@use 'reset';
@use 'variables' as *;
@use 'mixins' as mixin ;
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/*
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;

*/


/* Animation */

// body {
//   animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
// }

// @keyframes move-forever {
//   0% {
//    transform: translate3d(-90px,0,0);
//   }
//   100% { 
//     transform: translate3d(85px,0,0);
//   }
// }

body {
  background:url(../../../house-163526.webp) center/cover;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.dnone{
  display:none;
}
.header{
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: $secondary;
  box-shadow: $shadow;
  
  width: 100%;

  & .h1{
    font-size: 2  rem;
    font-weight: 600;
    font-family: 'Lobster', cursive;
    letter-spacing: .2rem;;
  }
  & .logo {
    width: 180px;
    height: 140px;
  }
  & .header-btn{
    padding:.2rem .8rem ;
    border-radius: $radius;
    background-color: $complementary;
  }
  & .header-a{
    text-decoration: none;
  }
}



.container{
 width: 80%;
 max-width: 800px;
 margin: 2rem auto;
 @include mixin.centrar;
 @include mixin.column;
 gap: .7rem;
}


.form-principal{
  box-shadow: $shadow;
  background-color: $secondary;
  text-align: center;
  padding: 0.3rem 1.5rem;
  border-radius: $radius;  
  @include mixin.centrar;
  @include mixin.column;

    & .inputs{
      display: flex;
      flex-direction: column;
      gap: .1rem;
      border-radius: $radius;
      &   input:focus{
        color: primary;
      }
      .input{
        border-radius: $radius;
        box-shadow: $shadow;
        width:90%;
        }
        & .label{
          font-weight: bold;
        }
    }
    & div.select-container {
      //@include mixin.borde;
      //border-radius: $radius;
      @include mixin.column;
      @include mixin.centrar;
      margin-top:1rem; 
      & #tipo-siembra{
        border-radius:$radius;
        box-shadow: $shadow;
      }
    }
  }
  

  
  .btn{
    margin-top:2rem;
    padding:.4rem 2rem;
    border-radius: 14px;
    border: none;
    background-color: $primary;
    color: white;
    cursor: pointer;
    &:hover{
      transform: scale(1.2);
  }
}
.caja-tareas {
  box-shadow: $shadow;
  text-align: center;
  border-radius: $radius;
  width: 80%;
  padding: 2rem;
  background-color: $secondary;
  &.siembra{
    display: flex;
    gap:2rem;
    justify-content: space-between;
  }
  &h2{
    text-align:center;
  }
}

@media(max-width:690px) {
  .h1 {
    display:none;
  }
}



// .container {
//   width: 80%;
//   max-width: 1000px;
//   margin: 2rem auto;
// }

// h1 {
//   text-align: center;
//   margin-bottom: 2rem;
// }

// form {
//   display: grid;
//   justify-items: center;
//   gap: 1rem;
  
  
  
//   .inputs {
//     display: flex;
//     gap: 1rem;    
    
//     input[type="text"] {
//       padding: 0.2rem 1rem;
//       outline: none;
//       border: none;
//       border-radius: $radius;
      
//       box-shadow: $shadow;
  
      
//       &:focus {
//         outline: 2px solid $accent;
//         outline-offset: 2px;
//       }

      
//     }
    
//     .vacio{
//       outline: 2px solid crimson !important;
//       outline-offset: 2px;
//     }
//   }

//   div.checkbox {
//     input[type="checkbox"] {
//       width: 1rem;
//       height: 1rem;
//       margin: 0;
//       position: relative;
//       top: 2px;
//       accent-color: $accent;
//     }
//   }

//   button {
//     background-color: $accent;
//     border: none;
//     padding: 0.3rem 0.7rem;
//     border-radius: $radius;
//     box-shadow: $shadow;
//   } 
  

// }



// section.book-list {
//   margin-top: 3rem;
//   padding: 1.5rem;
//   border: 3px solid $accent;
//   border-radius: $radius;
//   box-shadow: $shadow;

//   h2 {
//     text-align: center;
//     margin-bottom: 1rem;
//   }

//   article.book {
//     display: flex;
//     align-items: center;
//     gap: 0.5rem;
//     font-size: 1.3rem;

//     .book__author {
//       font-style: italic;
//       font-size: 1.1rem;
//     }

//     .eye-icon {
//       color: #f2ff03;
//       margin-right: auto;
//       margin-left: 1rem;
//     }

//     .delete-icon {
//       cursor: pointer;
//       transition: transform 0.3s ease;
//       color: hsl(348, 83%, 60%);

//       &:hover {
//         transform: scale(1.1);
//       }
//     }





//   }


// }
