@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Arial", sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;

*/
body {
  background: url(../../../bg.webp) center/cover;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

/**************/
/*** ESTILOS GENERALES ***/
/**************/
.dnone {
  display: none;
}

.vacio {
  outline: 2px solid rgb(255, 0, 132) !important;
  outline-offset: 2px;
}

/**************/
/*** HEADER ***/
/**************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(118, 184, 82, 0.4980392157);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 0.9rem;
  width: 100%;
}
.header .h1 {
  font-size: 2 rem;
  font-weight: 600;
  font-family: "Lobster", cursive;
  letter-spacing: 0.2rem;
  margin-left: 1rem;
}
.header .logo {
  width: 150px;
  height: 90px;
}
.header .header-btn {
  padding: 0.4rem 1rem;
  border-radius: 0.6rem;
  background-color: #51B894;
  font-size: 0.8rem;
  margin-right: 1rem;
  border: none;
}
.header .header-btn:hover {
  transform: scale(1.1);
}
.header .header-a {
  text-decoration: none;
  color: black;
}

/**************/
/*** CONTAINER ***/
/**************/
.container {
  width: 80%;
  max-width: 800px;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

/**************/
/*** FORM***/
/**************/
.form-principal {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: rgba(118, 184, 82, 0.4980392157);
  text-align: center;
  padding: 0.3rem 1.5rem;
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.form-principal .inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  border-radius: 0.6rem;
}
.form-principal .inputs input[type=text],
.form-principal .inputs input[type=date] {
  border-radius: 0.6rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 90%;
}
.form-principal .inputs input[type=text]:focus,
.form-principal .inputs input[type=date]:focus {
  background-color: rgba(118, 184, 82, 0.4980392157);
}
.form-principal .inputs .label {
  font-weight: bold;
}
.form-principal .inputs select {
  border-radius: 0.6rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 90%;
}
.form-principal .inputs select:focus {
  background-color: rgba(118, 184, 82, 0.4980392157);
}
.form-principal div.select-container {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.form-principal div.select-container #tipo-siembra {
  border-radius: 0.6rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/**************/
/*** BTN ***/
/**************/
.btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  width: 90%;
  border-radius: 0.6rem;
  border: none;
  background-color: #51B894;
  color: black;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.1);
}

/**************/
/*** CAJA TAREAS ***/
/**************/
.caja-tareas {
  text-align: center;
  border-radius: 0.6rem;
  width: 100%;
  padding: 1rem;
  margin: 0;
  background-color: rgba(118, 184, 82, 0.4980392157);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.caja-tareas .caja-tareas-h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.caja-tareas article.siembra {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.caja-tareas article.siembra.delete-icon {
  cursor: pointer;
  color: red;
}
.caja-tareas article.siembra span {
  text-align: center;
  width: 100%;
  text-transform: capitalize;
}

/**************/
/*** MEDIAQUERYS  ***/
/**************/
@media (max-width: 690px) {
  .h1 {
    display: none;
  }
  .caja-tareas span {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    font-weight: bold;
  }
}

/*# sourceMappingURL=style.css.map */
